# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/

# Distribution / Packaging
.eggs/
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# IntelliJ IDEA
.idea/

# Mac/Windows
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Agent
# .agent/
# .gemini/
# plans/
# docs/
node2-main/data/
node2-main/data
node2-main/data/*

*.json
node2-main/venv/*
node2-main/pipeline_graph.png
